
//Fonts
$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
$monospace: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
$verdana: "Verdana", "Geneva", sans-serif;

$bold: 800;
$regular: 400;
$thin: 200;
$ultra-thin: 100;

$base-font-size: 1.0em;
$heading1-font-size: 5.0em;

$h1-scl-font-size: 5vw;
$base-font-size-scl: 2vw;
//Palette
$black: #000;
